<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>wzitxHXf0mH9ztQj0SuIEC35Rjn1gWvO</string>
	<key>Domain</key>
	<string>dev-58wqv7bkizqa368o.us.auth0.com</string>
</dict>
</plist>